name: Run Rubik's Cube Scramble Generator

on:
  push:
    paths:
      - "2026/01-18-rubiks-cube-scramble-generator.py"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Run script
        run: |
          python 2026/01-18-rubiks-cube-scramble-generator.py
