name: Python CI

on:
  push:
  pull_request:

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Run all Python files in 2026 folder
        run: |
          for file in 2026/*.py; do
            echo "Running $file"
            python "$file"
          done
